<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanwool.saleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Trang chủ"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoaisanphamActivity"
            android:label="@string/title_activity_loaisanpham_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TatcasanphamActivity"
            android:label="Tất cả sản phẩm"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BrandPhoneDetailsActivity.Iphone"
            android:label="Iphone"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".BrandPhoneDetailsActivity.Samsung"
            android:label="Samsung"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".BrandPhoneDetailsActivity.Nokia"
            android:label="Nokia"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".BrandPhoneDetailsActivity.Huawei"
            android:label="Huawei"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".BrandPhoneDetailsActivity.Xiaomi"
            android:label="Xiaomi"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".BrandPhoneDetailsActivity.Oppo"
            android:label="Oppo"
            android:parentActivityName=".LoaisanphamActivity"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChitietsanphamActivity"
            android:label="Thông tin sản phẩm"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".GiohangActivity"
            android:label="Giỏ hàng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ThongtinkhachhangActivity" />
        <activity
            android:name=".Quanlydonhang_AdminActivity"
            android:label="Đơn hàng"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Quanlytaikhoan_AdminActivity"
            android:label="Đơn hàng"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>