<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanwool.saleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Trang chủ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".splashScreen" />
        <activity
            android:name=".LoaisanphamActivity"
            android:label="@string/title_activity_loaisanpham_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BrandPhoneDetailsActivity.Iphone" />
        <activity
            android:name=".TatcasanphamActivity"
            android:label="Tất cả sản phẩm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BrandPhoneDetailsActivity.Samsung" />
        <activity android:name=".BrandPhoneDetailsActivity.Nokia" />
        <activity android:name=".BrandPhoneDetailsActivity.Huawei" />
        <activity android:name=".BrandPhoneDetailsActivity.Xiaomi" />
        <activity android:name=".BrandPhoneDetailsActivity.Oppo"></activity>
    </application>

</manifest>